#function-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-container-function {
    color: #3a3a3a;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discription-function {
    color: #727984;
}

.container-items {
    color: #3a3a3a;
}

.container-items ul li {
    list-style: none;
}

.container-items ul li h2 {
    font-size: 15px;
}

.wrapper {
    position: relative;
}

.screen-img {
    z-index: 1;
}

.background-phones-f {
    width: 400px;
    display: none;
}

.background-circle-mf {
    width: 220px;
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -60px;
}

.background-circle-df {
    width: 300px;
    position: absolute;
    bottom: -50px;
    right: -80px;
    z-index: -1;
}

.background-circle-sf {
    width: 100px;
    position: absolute;
    z-index: -1;
    right: -80px;
    top: -50px;
}

@media all and (max-width: 1920px) {}

@media all and (max-width: 1366px) {}

@media all and (max-width: 1280px) {}

@media all and (max-width: 1024px) {}

@media all and (max-width: 980px) {}

@media screen and (max-width: 768px) {
    #function-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .wrap-context-function {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background-circle-mf {
        top: 0px;
    }
}

@media all and (max-width: 480px) {
    .background-circle-mf {
        display: none;
    }
    .background-circle-df {
        display: none;
    }
    .background-circle-sf {
        display: none;
    }
}