footer {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 250px;
  }
  
  .left_block {
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .left_block:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../res/logo.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 85%;
}
  
  .menu_footer_block {
    width: 45%;
    height: auto;
    position: relative;
    margin-left: 10px;
    margin-top: 15px;
    text-align: left;
  }
  
  .logo_footer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
  
  }
  
  .logo_img {
    width: 27px;
    height: 25px;
    text-align: left;
    position: relative;
    margin-right: 10px;
    margin-top: 15px;
  }
  
  .menu_items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 35px;
  }
  
  .menu_item {
    margin-left: 35px;
    line-height: 1;
  }
  
  .left_footer_block {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    position: relative;
    
  }
  
  .info_block {
    width: 100%;
    position: relative;
    text-align: left;
    margin-top: 35px;
    margin-left: 0px;
  }
  
  .contact_block {
    position: relative;
    margin-top: 110px;
  }
  
  .right_block {
    width: 80%;
    text-align: right;
  }
  
  .follow_block {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
  }
  
  .follow_us {
    width: 40%;
    text-align: left;
    height: 50px;
    margin-left: 15%;
  }
  
  .follow_items {
    width: 40%;
    display: flex;
    flex-direction: row;
    text-align: right;
  }
  
  .follow_item {
    margin-left: 40px;
    text-align: right;
  }
  
  .foolow_img {
    height: 25px;
    width: 25px;
  }
  
  h1{
    color: white;
    font-size: 23px;
  }
  
  h2{
    color: white;
    font-size: 17px;
    letter-spacing: 1.5px;
  }
  
  h3{
    color: white;
    font-size: 13px;
    line-height: 23px;
  }
  
  h4{
    font-size: 13px;
    color: white;
  }
  
  