
.header {
    width: 100%;
    height: 900px;
    position: relative;
    margin: 0;
  }

  .header-block{
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    background-image:  linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  }
  
  .left_header_block {
    width: 50%;
    height: 1000px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .left_top_block {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: left;
  }
  
  .paralelogram {
    width: 25%;
    height: 250px;
    position: relative;
    float: left;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 79%);
    background-color: #7e00ff;
    margin: 0;
  }
  
  .triangle {
    width: 70%;
    height: 250px;
    position: relative;
    margin: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 57%);
    background-color: #6e00ff;
  }
  
  .button_paralelogram {
    clip-path: polygon(0 40%, 100% 13%, 100% 86%, 0 97%);
        background-image: linear-gradient(150deg, #0ac3ff, #298cff);
    width: 30%;
    height: 290px;
    position: absolute;
    bottom: 0px;
    transform: rotate(-2deg);
  }
  
  .average_header_block {
    width: 50%;
    margin-left: 250px;
    text-align: left;
    position: relative;
  }
  
  .logo_header {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .info_header_block {
    width: 100%;
    height: 600px;
    text-align: left;
    margin-top: 150px;;
    margin-left: 30px;
    position: relative;
  }
  
  .right_header_block {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
  }
  
  .button_wrap {
    width: 50%;
    height: 130px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0;
    margin-left: 450px;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  
  .button_android {
    width: 37%;
    position: relative;
    margin-right: 7%;
    margin-top: -20px;
  }
  
  .button_ios {
    width: 37%;
    position: relative;
    margin-top: -20px;
  }

  .android_img{
    position: relative;
  }

  .ios_img{
    position: relative;
  }
  
  .image_header_block {
    width: 47%;
    height: auto;
    margin-top: -600px;
    margin-left: 50%;
    position: absolute;
    text-align: right;
  }

  .header_image{
    width: 100%;
    position: relative;
    margin: 0;
  }
  
  .app-illustration {
    width: 100%;
    height: auto;
    margin: 0;
    transform: rotate(-5deg);
  }

  .title {
    color: white;
    font-size: 30px;
    word-spacing: 1.5px;
    letter-spacing: 2px;
  }
  
  .subtitle {
    color: white;
    font-size: 17px;
    line-height: 1.3;
    word-spacing: 2px;
    letter-spacing: 1.5px;
  }

  .app-name{
    font-size: 20px;
  }