
#wrap-table {
    height: 400px;
    width: 100%;
}

.content-table {
    height: 400px;
    width: 1100px;
    padding: 70px 0px;
    margin: 0 auto;
}

.tables {
    height: 91%;
    width: 90%;
    margin: 0 auto;
}

.table {
    height: 100%;
    width: 31.0909091%;
}

.image {
    height: 90px;
    width: 90px;
    margin-top: 10%;
}

.text-container {
    height: 160px;
    width: 90%;
    margin-top: 5%;
}

.title {
    margin: 0;
}

.button {
    padding: 15px 25px;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1366px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 980px) {
    
}

@media all and (max-width: 768px) {

    #wrap-table {
        height: 1250px;
        width: 100%;
        padding: 70px 0px;
    }

    .tables {
        height: 95%;
        width: 90%;
    }

    .table {
        height: 31%;
        width: 330px;
    }

    .text-container {
        height: 150px;
    }

    .button {
        padding: 15px 40px;
    }
}

@media all and (max-width: 480px) {

    .button {
        padding: 15px 30px;
    }
    
}
