#search-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(4px + 2vmin);
}

.image-search {
    height: 600px;
}

.title-search-container {
    color: #3a3a3a;
}

.discription-search {
    color: #727984;
}

.wrap-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #3a3a3a;
}

.fa-check{
    color: #31c64a;
}

.wrap-items li {
    list-style: none;
}

.wrap-items li  h2 {
    font-size: 15px;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1500px) {

    .image-search {
        height: 500px;
    }

}

@media all and (max-width: 1366px) {
    

    .image-search {
        height: 400px;
    }

}

@media all and (max-width: 1280px) {
    

    .image-search {
        height: 350px;
    }

}

@media all and (max-width: 1024px) {
    
    .image-search {
        height: 300px;
    }

}

@media all and (max-width: 980px) {

    #search-section {
        justify-content: center;
    }
    
    .image-search {
        display: none;
        height: 200px;
        margin: 0 auto;
    }

}

@media all and (max-width: 768px) {
   
    #search-section {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media all and (max-width: 480px) {
    
}
