
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

@media only screen and (min-width: 768px) {

.wrapp_info_section_three {
   
    border: yellow solid;
    height: 400px;
    width: 100%;
}

.main-container-three {
    
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.text-component {
  
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-three {
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
    font-size: 40px;
    word-spacing: 1.9px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

.content-three {
    
    margin: 0;
    font-size: 25px;
    color: #727984;
    font-weight: 200;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 1.9px;
    text-align: center;
}

.price-options {  
     
    border-radius: 15px;
    height: 85%;
    width: 27%;
    padding: 0;
    box-shadow: 0 5px 25px -5px #00000070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.standart {
    
    background: #8de097;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100px; 
    margin: 0;
    text-align: center;
    line-height: 100px;
}

.standart-name {
   
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

}

.text-conten-three {
    font-size: 17px;
    text-align: center;
}

.button-container-three {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 10%; 
}

.button-three {
    background: #8de097;
    border-radius: 70px;
    height: 40px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fff;
}

.button-three:hover {
    background: #bedbc0;
}

}

@media only screen and (min-width: 768px) and (max-width: 1500px) {

    .main-container-three {
        
        width: 75%;
    }

    .text-component {


    }

    .title-three {

        font-size: 30px;


    }

    .content-three {

        font-size: 15px;

    }

    .price-options {


    }

    .text-conten-three {
       
        font-size: 15px;
        padding: 10px;


    }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .wrapp_info_section_three {

        height: 500px;

    }

    .main-container-three {
       
       
        width: 85%;
    
    
    }

    .text-component {
        
        width: 55%;
        
    }

      .price-options { 

        width: 30%;

       }
}


@media only screen and (min-width: 768px) and (max-width: 922px) {

    .main-container-three {
       
       
       

    
    
    }

    .text-component {
        
        width: 50%;
        
    }

    .title-three {

        font-size: 25px;


    }

    .content-three {

        font-size: 13px;

    }

      .price-options { 

        width: 37%;

       }

}

@media only screen and (max-width: 768px) {

    .wrapp_info_section_three {
   
       
        height: 900px;
        width: 100%;
        margin-top: 150px;
    
    
    }
    
    .main-container-three {
   
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    
    .text-component {
   
      height: 45%;
      width: 100%;
    
    }
    
    .title-three {
        font-size: 30px;
        line-height: 1.5;
        margin: 0;
    }
    
    .content-three {
        margin-top: 50px;
        font-size: 15px;
        color: #727984;
        line-height: 2.0;
        text-align: left;
    }
    
    .price-options {  
        
        border-radius: 15px;
        height: 50%;
        width: 60%;
        padding: 0;
        box-shadow: 0 5px 25px -5px #00000070;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .standart {
        
        background: #8de097;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 100px; 
        margin: 0;
        text-align: center;
        line-height: 100px;
    }
    
    .standart-name {
       
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    
    .text-conten-three {
        font-size: 17px;
        text-align: center;
        padding: 5px;
    }
    
    .button-container-three {
        display: flex;
        flex-direction: column;
        align-items: center;  
        margin-bottom: 10%; 
    }
    
    .button-three {
        background: #8de097;
        border-radius: 70px;
        height: 40px;
        width: 170px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        line-height: 40px;
        text-transform: uppercase;
        font-family: sans-serif;
        color: #fff;
    }
    
    .button-three:hover {
        background: #bedbc0;
    }

}

@media only screen and (max-width: 365px) {

    .wrapp_info_section_three {
        height: 1000px;;
    }

    .title-three {
        font-size: 20px;
    }

    .price-options {
        width: 90%;
    }
}