
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

@media only screen and (min-width: 768px) {

.wrapp_info_section_two{
    background: url("../../res/korea1.png") no-repeat center top/cover;
    background-size: 500px 300px;
    background-position: left center;
    height: 450px;
}

.main-container-two{
    height: 100%;
    width: 50%;
    margin-left: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-section-two {
    font-size: 40px;
    word-spacing: 1.9px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
}

.text-section-two {
    
    width: 75%;
    color: #727984;
    font-size: 25px;
    font-weight: 200;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 1.9px;
    text-align: left;
    margin-left: 50px;
}

.item-section-two {
    
    font-size: 25px;
    line-height: 2.0;
    color: #2a2c30;
    font-family: 'Open Sans', sans-serif;
}

.item-section-two ul {
    margin: 0;
}

.item-section-two span {
    margin-left: 15px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1700px)  {


}

@media only screen and (min-width: 768px) and (max-width: 1500px) {

    .wrapp_info_section_two{
        
        
        background-size: 30% 40%;
     
       
    }

    .main-container-two{
       
       
        padding-left: 0px;
        position: relative;
        margin-left: 33%;
    }

    .title-section-two {
        
        font-size: 27px;
        line-height: 1.5;
        
    }

    .text-section-two {
        width: 65%;
        font-size: 15px;
        
        line-height: 1.8;
        
    }
    
    .item-section-two {
        font-size: 23px;
        line-height: 2.0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .wrapp_info_section_two{
        
        
        background-size: 35% 200px;
     
       
    }

    .main-container-two{
        width: 60%;
        padding-left: 0px;
        position: relative;
        margin-left: 38%;
    }

    .title-section-two {
       
        font-size: 25px;
        line-height: 1.5;
    }

    .text-section-two {
        width: 65%;
        font-size: 17px;
        
        line-height: 1.8;
        
    }
    
    .item-section-two {
        font-size: 19px;
        line-height: 2.0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 922px) {

    .title-section-two {
        
        font-size: 21px;
        line-height: 1.5;
    }

    .text-section-two {
        width: 65%;
        font-size: 15px;
        
        line-height: 1.8;
        
    }
    
    .item-section-two {
        font-size: 17px;
        line-height: 2.0;
    }


}

@media only screen and (max-width: 768px) {

    .wrapp_info_section_two{
        height: 550px;
        width: 100%;
        background: url("../../res/korea1.png") no-repeat center top/cover;
        background-size: 500px 300px;
        background-position: center bottom;
        margin-top: 200px;
    }
    
    .main-container-two{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .title-section-two {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
    }
    
    .text-section-two {
        width: 100%;
        font-size: 15px;
        color: #727984;
        line-height: 2.0;
        text-align: left;
    }
    
    .item-section-two {
        font-size: 23px;
        line-height: 2.0;
    }
}

@media only screen and (max-width: 365px) {

    .title-section-two {
        font-size: 17px;
    }

    .text-section-two {
        font-size: 14px;
    }

    .item-section-two {
        font-size: 20px;
        line-height: 1.8;
    }
}
