

@media only screen and (min-width: 768px) {

.wrapp_info_section_one {
   
    height: 430px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row {

    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.collumn-green {
    border: black solid;
  border-radius: 15px;
  width: 30%;
  background: #85cc74;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.collumn-blue {
    border-radius: 15px;
    width: 30%;
    background: #74bdcc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collumn-red {
    border-radius: 15px;
    width: 30%;
    background: #ce6565;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image {
    position: relative;
    top: 25px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #8894a8;
}

.content-text {
    border: black solid;
 width: 100%;
 height: 150px;
 margin: 0px;
 padding: 0;
}

.title-form {
    border: white solid;
text-align: center;
font-size: 23px;
letter-spacing: 7px;
font-weight: 800;
font-family: sans-serif;
margin: 0;
}

.text {
    border: red solid;
    color: white;
    width: 85%;
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px; 
    padding: 0;
}

.button-container {
    width: 60%;
  position: relative;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.button {
    border: white solid 1px;
    border-radius: 70px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}

.button:hover {
    color: green;
    background: #fff;
    mix-blend-mode: overlay;
}

}

@media only screen and (min-width: 768px) and (max-width: 1500px) {

    .wrapp_info_section_one {
        width: 75%;
    }


}

@media only screen and (min-width: 768px) and (max-width: 922px) {

    .wrapp_info_section_one {
        width: 90%;
    }


}

@media only screen and (max-width: 768px) {

    .wrapp_info_section_one {
        
        height: 1200px;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    
    
    .row {
    
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .collumn-green {
      border-radius: 15px;
      height: 32%;
      width: 70%;
      background: #85cc74;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    .collumn-blue {
        border-radius: 15px;
        height: 32%;
        width: 70%;
        background: #74bdcc;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .collumn-red {
        border-radius: 15px;
        height: 32%;
        width: 70%;
        background: #ce6565;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .image {
        position: relative;
        top: 20px;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        background: #8894a8;
    }
    
    .content-text {
     width: 100%;
     height: 150px;
     margin: 0px;
    }
    
    .title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    }
    
    .text {
       
        color: white;
        width: 80%;
        margin: 0;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
    }
    
    .button-container {
       
      width: 60%;
      position: relative;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;   
    }
    
    .button {
        border: white solid 1px;
        border-radius: 70px;
        height: 35px;
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 35px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
        color: #fff;
    }
    
    .button:hover {
        color: black;
        background: #fff;
        mix-blend-mode: overlay;
    }
    


}

@media only screen and (max-width: 365px) {


    .collumn-green {
        width: 90%;
      }
      
      .collumn-blue {
          width: 90%;
      }
      
      .collumn-red {
          width: 90%;
      }
}
