
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

@media only screen and (min-width: 768px) {

.wrapp_info_section_one {
   
    height: 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: black;
}



.tables {
    height: 75%;
    width: 86%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.col {
    height: 100%;
    padding: 10px 0px;
    max-width: 350px;
    box-sizing: border-box;
}

.table {
    background: 
    rgb(252, 123, 123);
    height: 85%;
    width: 80%;
    border-radius: 20px;
    padding: 40px 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 5px #00000070;
    position: relative;
}

.table:nth-child(1) {
 

}

.circle {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background: #74bdcc;



}

.table h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 33px;
    margin: 0;
    margin-top: 35px;
}

.table h4 {
    font-family: 'Open Sans', sans-serif;
    color: #f7e8e8; 
    margin: 0;
    margin-top: 10px;
}

.table a {

    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    width: 65%;
    padding: 13px 10px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s linear;
    position: absolute;
    bottom: 30px;
    left: 15%;
}

.table a:hover {

    text-decoration: none;
    background: white;
    color: #3a3a3a;

}

}

@media only screen and (min-width: 768px) and (max-width: 1700px)  {

    .table h2 {
        font-size: 30px;
        margin-top: 35px;
    }

    .table a {
        font-size: 17px;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1500px) {

    .wrapp_info_section_one {
        width: 75%;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1300px) {

}

@media only screen and (min-width: 768px) and (max-width: 922px) {

    .wrapp_info_section_one {
        width: 90%;
    }


}

@media only screen and (max-width: 768px) {

    .wrapp_info_section_one {
        
        height: 1200px;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    
    
    .row {
    
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .collumn-green {
      border-radius: 15px;
      height: 32%;
      width: 70%;
      background: #85cc74;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    .collumn-blue {
        border-radius: 15px;
        height: 32%;
        width: 70%;
        background: #74bdcc;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .collumn-red {
        border-radius: 15px;
        height: 32%;
        width: 70%;
        background: #ce6565;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .image {
        position: relative;
        top: 20px;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        background: #8894a8;
    }
    
    .content-text {
     width: 100%;
     height: 150px;
     margin: 0px;
    }
    
    .title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    }
    
    .text {
       
        color: white;
        width: 80%;
        margin: 0;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
    }
    
    .button-container {
       
      width: 60%;
      position: relative;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;   
    }
    
    .button {
        border: white solid 1px;
        border-radius: 70px;
        height: 35px;
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 35px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
        color: #fff;
    }
    
    .button:hover {
        color: black;
        background: #fff;
        mix-blend-mode: overlay;
    }
    


}

@media only screen and (max-width: 365px) {


    .collumn-green {
        width: 90%;
      }
      
      .collumn-blue {
          width: 90%;
      }
      
      .collumn-red {
          width: 90%;
      }
}
