.wrapp_info_section_three {
   
    height: 500px;
    width: 100%;
    margin-top: 150px;


}

.main-container-three {
    height: 500px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.text-component {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-three {
    font-size: 43px;
    line-height: 1.5;
    margin: 0;
}

.content-three {
    margin: 0;
    font-size: 17px;
    color: #727984;
    line-height: 2.0;
    text-align: left;
}

.price-options {    
    border-radius: 15px;
    height: 80%;
    width: 25%;
    padding: 0;
    box-shadow: 0 5px 25px -5px #00000070
}

.standart {
    
    background: #8de097;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100px; 
    margin: 0;
    text-align: center;
    line-height: 100px;
}

.standart-name {
   
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

}

.text-conten-three {
    font-size: 17px;
    text-align: center;
}

.button-container-three {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20%; 
}

.button-three {
    background: #8de097;
    border-radius: 70px;
    height: 40px;
    width: 170px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fff;
}

.button-three:hover {
    background: #bedbc0;
}
