


@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

@media only screen and (min-width: 768px) {

.header {
  width: 100%;
  height: 1000px;
  position: relative;
  margin: 0;
  background:  linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
}

.figure-block {

height: 100%;
width: 100%;
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.top-figure {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.paralelogram {
  width: 25%;
  height: 250px;
  position: relative;
  float: left;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 79%);
  background-color: #7e00ff;
  margin: 0;
}

.triangle {
  width: 70%;
  height: 250px;
  position: relative;
  margin: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 57%);
  background-color: #6e00ff;
}

.bottom-figure{
 
}

.bottom-paralelogram {
  clip-path: polygon(0 40%, 100% 13%, 100% 86%, 0 97%);
  background-image: linear-gradient(150deg, #0ac3ff, #298cff);
  width: 30%;
  height: 290px;
  transform: rotate(-2deg);
}

.main-block {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content-header {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.info-header{
  height: 300px;
  width: 80%;
  margin-left: 50px;
  margin-bottom: 250px;
}

.title {
  color: white;
  font-size: 200%;
  word-spacing: 1.9px;
  letter-spacing: 2px;
  font-weight:600;
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  color: white;
  width: 75%;
  font-size: 160%;
  font-weight: 200;
  line-height: 1.6;
  word-spacing: 2px;
  letter-spacing: 1.9px;
  font-family: 'Open Sans', sans-serif;
}


.social-networks-block{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button_wrap {
  width: 270px;
  height: 130px;
  text-align: center;
  margin-top: 45px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.button_android {
  width: 120px;
}

.button_ios {
  width: 120px;
}

.android_img{
  position: relative;
}

.ios_img{
  position: relative;
}


.image-header{
  height: 650px;
  width: 650px;
  position: absolute;
  top: 30%;
  right: 10%;

}

.app-illustration {
  width: 100%;
  height: auto;
  margin: 0;
}

}


@media only screen and (min-width: 768px) and (max-width: 1200px)  {

    .image-header{
      height: 45%;
      width: 45%;
      top: 370px;
      right: 30px;
    }
}

  @media screen and (min-width: 768px) and (max-width: 922px)  {

    .button_wrap {
      width: 85%;
    }

     .button_android {
      width: 120px;
    }
    
    .button_ios {
      width: 120px;
    }

    .content-header {
      width: 60%;
    }
  
    .info-header{
      width: 100%;
      margin-left: 30px;
      margin-bottom: 350px;
    }
  
   .image-header{
      height: 450px;
      width: 450px;
      top: 400px;
      right: 30px;
    }

  }


 
