@media only screen and (max-width: 768px) {

    .header {
      width: 100%;
      height: 1400px;
      position: relative;
      margin: 0;
      background:  linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
      clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
    }
    
    .figure-block {
    
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    
    .top-figure {
      width: 50%;
      height: 200px;
      display: flex;
      flex-direction: row;
      text-align: left;
    }
    
    .paralelogram {
      width: 25%;
      height: 250px;
      position: relative;
      float: left;
      clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 79%);
      background-color: #7e00ff;
      margin: 0;
    }
    
    .triangle {
      width: 70%;
      height: 250px;
      position: relative;
      margin: 0;
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 57%);
      background-color: #6e00ff;
    }
    
    
    .bottom-paralelogram {
      clip-path: polygon(0 40%, 100% 13%, 100% 86%, 0 97%);
      background-image: linear-gradient(150deg, #0ac3ff, #298cff);
      width: 30%;
      height: 290px;
      transform: rotate(-2deg);
    }

    nav {
      border: gold solid;
      
      height: 450px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: .3s;
    }
    
    
    
    .logo{
      width: 150px;
     
    }
    
    .menu-item {
      border: green solid;
      height: 350px;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0;
    }
    
    .menu-item li {
      margin: 0;
      border: black solid;
       list-style: none;
    }
    
    .menu-item li a {
    
      padding: 5px 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 25px;
    }
    
    
    .menu-item li a:hover{
      background: #6287c1;
      border-radius: 20px; 
    }
    
    .main-block {
      border: green solid;
      height: 570px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
    
    .info-header{
      border: red solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .title {
      color: white;
      font-size: 200%;
      word-spacing: 1.9px;
      letter-spacing: 2px;
      font-weight:600;
      font-family: 'Open Sans', sans-serif;
    }
    
    .subtitle {
      color: white;
      width: 75%;
      font-size: 160%;
      font-weight: 200;
      line-height: 1.6;
      word-spacing: 2px;
      letter-spacing: 1.9px;
      font-family: 'Open Sans', sans-serif;
    }
    
    .button_wrap {
      border: red solid;
      width: 270px;
      height: 130px;
      text-align: center;
      margin-top: 45px; 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     }
    
    .button_android {
      width: 120px;
    }
    
    .button_ios {
      width: 120px;
    }
    
    .android_img{
      position: relative;
    }
    
    .ios_img{
      position: relative;
    }
    
    
    .image-header{
      height: 85%;
      width: 85%;
      margin: 0 auto;
    }
    
    .app-illustration {
      width: 100%;
      height: auto;
      margin: 0;
    }

  }


  @media only screen and (max-width: 365px) {

    .header {
      height: 1400px;
      }

    .main-block {
      height: 700px;
      justify-content: flex-end;
      margin-bottom: 0px;
    }

    .content-header{
      margin-top: 80px;
    }

    .info-header{
     height: 300px;
     justify-content: space-around;
    }

    .social-networks-block {
      margin-top: 80px;
    }

    .title {
      font-size: 150%;
    }

    .subtitle {
      font-size: 100%;
    }
 }
