@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.content {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 80px;
}

.wrapp_info_section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.app_info_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.screen {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.screen img {
    width: 338px;
    height: 600px;
    margin: 0 auto;
}

.text {
    width: 60%;
    font-size: 500px;
    margin: 7%;
    padding-top: 5%;
}

.info_text {
    color: black;
    text-align: center;
    font-size: 35px;
}

.description {
    color: #666666;
    font-size: 25px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
}


img {
    width: 100%;
}

h1 {
    color: white;
    letter-spacing: 4px;
    font-size: 25px;
}

h3 {
    color: white;
    font-size: 20px;
    line-height: 1.4;
    word-spacing: 2px;
}

@media only screen and (max-width: 922px) {

    .screen {
        width: 53%;
    }

    .screen img {
        margin: 0 auto;
    }

    .text {
        width: 50%;
        margin: 7% 1% 7% 1%;
    }

    .info_text {
        font-size: 30px;
    }

    .description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .app_info_section {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 90%;
    }

    .screen {
        width: 100%;
    }

}

@media only screen and (max-width: 365px) {

}

