@import url('https://fonts.googleapis.com/css?family=Open+Sans');

footer {
    border: red solid;
    height: 370px;
    width: 100%;
    background-image: linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 250px;
}

.contact_block h3 {
    color: white;
    font-size: 10px;
}

.left_block {
    border: aqua solid;
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 15px;
    position: relative;
}

.left_block:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../res/logo.png');
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 60%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 70%;
}

.left_footer_block {
    border: green solid;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: space-between;
}

.logo_footer {
    margin-top: 20px;
    border: red solid;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}

.logo_img {
    border: #0ac3ff solid;
    width: 27px;
    height: 25px;
    position: relative;
}

.app-name {
    border: #0ac3ff solid;
    color: white;
    width: 370px;
    text-align: center;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.subtitle_footer {
    color: white;
    font-size: 150%;
    font-weight: 200;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 1.9px;
    font-family: 'Open Sans', sans-serif;
}

.info_block {
    border: black solid;
    width: 100%;
    position: relative;
    text-align: left;
}

.contact_block {
    border: purple solid;
    width: 80%;
    position: relative;
}

.refer {
    border: red solid;
    height: 50px;
    text-align: center;
font-size:20px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

.right_block {
    border: black solid;
    width: 30%;
    text-align: right;
    padding-right: 5%;
}

.follow_block {
    height: 270px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.follow_us {
    width: 100%;
    text-align: center;
    height: 50px;
}

.follow_heading {
    font-size: 20px;
    letter-spacing: 7px;
}

.follow_items {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-around;
    margin-top: 5px;
}

.follow_img {
    height: 25px;
    width: 25px;
}

.develop-block {
    width: 90%;
    margin-top: 30px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

h1 {
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: white;
    font-size: 52px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.follow_heading {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 922px) {

    footer {
        justify-content: space-around;
    }

    .left_block {
        width: 40%;
        margin-left: 3%;
    }

    .contact_block {
        width: 115%;
        text-align: center;
    }

    .right_block {
        width: 40%;
        text-align: right;
        padding-right: 5%;
    }

    .follow_block {
        width: 50%;
    }

    .follow_items {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {
    footer {
        height: 600px;
        flex-direction: column;
        align-items: center;
    }

    .left_block {
        height: 400px;
        width: 100%;
        margin: auto;
    }

    .left_block:before {

        width: 100%;
        height: 100%;
        background-size: 50%;
    }

    .left_footer_block {
        justify-content: space-around;
    }

    .logo_footer {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        position: relative;
    }

    .app-name {
        width: 70%;
        margin: 0;
        text-align: left;
        font-size: 19px;
    }

    .logo_img {
        width: 27px;
        height: 25px;
        position: relative;
    }

    .info_block {
        width: 90%;
        position: relative;
        text-align: center;
    }

    .right_block {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .follow_block {
        height: 200px;
        margin: 0;
    }

    .follow_items {
        width: 130%;
    }
}