


@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

.header {
    width: 100%;
    height: 1000px;
    position: relative;
    margin: 0;
  }

  .header-block{
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    background:  linear-gradient(150deg, #7e00ff 10%, #05d5ff 75%, #a6ffcb 94%);
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  }
  
  .left_header_block {
    width: 50%;
    height: 1000px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .left_top_block {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: left;
  }
  
  .paralelogram {
    width: 25%;
    height: 250px;
    position: relative;
    float: left;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 79%);
    background-color: #7e00ff;
    margin: 0;
  }
  
  .triangle {
    width: 70%;
    height: 250px;
    position: relative;
    margin: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 57%);
    background-color: #6e00ff;
  }
  
  .button_paralelogram {
    clip-path: polygon(0 40%, 100% 13%, 100% 86%, 0 97%);
        background-image: linear-gradient(150deg, #0ac3ff, #298cff);
    width: 30%;
    height: 290px;
    position: absolute;
    bottom: 0px;
    transform: rotate(-2deg);
  }
  
  .average_header_block {
    width: 50%;
    margin-left: 80px;
    text-align: left;
    position: absolute;
  }
  
  .logo_header {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .info_header_block {
    width: 100%;
    height: 600px;
    margin-top: 150px;;
    position: relative;
  }
  
  .right_header_block {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
  }
  
  .button_wrap {
    width: 300px;
    height: 130px;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3%;
    left: 30%;
  }
  
  .button_android {
    width: 37%;
    position: relative;
    margin-right: 10%;
    margin-top: -20px;
  }
  
  .button_ios {
    width: 37%;
    position: relative;
    margin-top: -20px;
  }

  .android_img{
    position: relative;
  }

  .ios_img{
    position: relative;
  }
  
  .image_header_block {
    width: 33%;
    height: auto;
    position: relative;
    left: 55%;
    bottom: 55%;
    text-align: right;
  }

  .header_image{
    width: 100%;
    position: relative;
    margin: 0;
  }
  
  .app-illustration {
    width: 125%;
    height: auto;
    margin: 0;
  }

  .title {
    color: white;
    font-size: 200%;
    word-spacing: 1.9px;
    letter-spacing: 2px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
  }
  
  .subtitle {
    color: white;
    width: 80%;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 1.9px;
    font-family: 'Open Sans', sans-serif;
  }



@media only screen and (max-width: 922px) {

 
  

  .average_header_block {
    margin-left: 10px;
    }

  .title {
   font-size: 170%;
  }

  .subtitle {
      font-size: 25px;
  }

}


@media only screen and (max-width: 768px) {

  .header {
   height: 1700px;
  }

  .header-block{
    height: 1000px;
   }

  .right_header_block {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .button_wrap {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   top: 10px;
    left: 0;
    margin: 0 auto;
    }

  .average_header_block {
    text-align: center;
    width: 100%;
    margin: 0;
    top: 0px;
  }

  .info_header_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .title {
    font-size: 150%;
  }
  
  .subtitle {
    
    color: white;
    width: 80%;
    font-size: 20px;
 }

 .image_header_block {
  width: 73%;
  height: auto;
  position: relative;
  left: 0;
  bottom: 550px;
    margin: 0 auto;
  text-align: center;
}

.app-illustration {
  width: 100%;
 }

}




