@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

footer {
    border: red solid;
    height: 370px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    position: relative;
}

.footer_content {

    border: green solid;
    height: 370px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.left_content_footer {
    border: black solid;
   
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_footer {

    border: purple solid;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_img {

    height: 30px;
    width: 30px;
    color: #1a1c1b;
    background: #1a1c1b;

}

.app_name {
    color: #3a3a3a;
    margin: 0;
    font-size: 20px;
}

.about_container {

    border: red solid;
    height: 250px;
}

.about_name_footer {
    color: #3a3a3a;
}

.discription_footer {
    color: #8e918f;
}

.right_content_footer {
    border: yellow solid;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts_container {
    border: red solid;
    height: 250px;
    width: 50%;
}

.contact_name_footer {

    color: #3a3a3a;

}

.contacts_container p {
    color: #8e918f;
    font-size: 19px ;
}

.contacts_container strong {
    color: #3a3a3a;
    font-size: 20px ;
}

.follow_container {
    border: black solid;
    height: 250px;
    width: 50%;
}

.follow_block {

    border: red solid;
}

.follow_us {
    border: #1a1c1b solid;
}

.follow_heading {
    color: #1a1c1b;
}

.follow_items {

    border: green solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.follow_item {
    border: yellow solid;
    height: 50px;
    width: 50px;

}

.btn {
  height: 50px;
  width: 50px;
  background: #8e918f;
}

.btn i {
    font-size: 20px;
}

.follow_img {

    color: #1a1c1b;

}


/* .contact_block h3 {
    color: white;
    font-size: 10px;
}

.left_block {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 20px;
    position: relative;
}

.left_block:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../../res/logo.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 85%;
}

.left_footer_block {
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo_footer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    position: relative;
}

.app-name {
    width: 70%;
    margin: 0;
    text-align: left;
    font-size: 19px;
}

.logo_img {
    width: 27px;
    height: 25px;
    position: relative;
}

.info_block {
    width: 100%;
    position: relative;
    text-align: left;
    margin-top: 25px;
    margin-left: 0px;
  }
  
  .contact_block {
    position: relative;
}

.right_block {
    width: 80%;
    text-align: right;
    padding-right: 5%;
}

.follow_block {
    height: 270px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.follow_us {
    width: 100%;
    text-align: center;
    height: 50px;
}

.follow_heading {
    font-size: 20px;
}

.follow_items {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-around;
    margin-top: 5px;
}

.follow_img {
    height: 25px;
    width: 25px;
  }
  
  .develop-block{
    width: 90%;
    margin-top: 30px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

h1 {
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
  }

h2 {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', sans-serif;
  }
  
  h3{
    color: white;
    font-size: 12px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  
  h4{
    font-size: 13px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  .follow_heading{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

h3 {
    color: white;
    font-size: 13px;
    line-height: 23px;
}

h4 {
    font-size: 13px;
    color: white;
} */
