@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 


@media only screen and (min-width: 768px) {

footer {
    height: 330px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    position: relative;
}

.footer_content {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_content_footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_img {
    height: 30px;
    width: 30px;
    color: #1a1c1b;
    background: #1a1c1b;
}

.app_name {
    color: #3a3a3a;
    margin: 0;
    font-size: 90%;
}

.about_container {
    height: 250px;
}

.about_name_footer {
    color: #3a3a3a;
    font-size: 120%;
}

.discription_footer {
    color: #8e918f;
    font-size: 100%;
}

.right_content_footer {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts_container {
    height: 250px;
    width: 50%;
}

.contact_name_footer {
    color: #3a3a3a;
    font-size: 120%;
}

.contacts_container p {
    color: #8e918f;
    font-size: 15px ;
}

.contacts_container strong {
    color: #3a3a3a;
    font-size: 100% ;
}

.follow_container {
    height: 250px;
    width: 50%;
}

.follow_us {
     text-align: center;
}

.follow_heading {
    font-size: 120%;
    color: #1a1c1b;
}

.follow_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow_item {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #f2f4f7;
    text-align: center;
    box-shadow: 0 5px 15px -5px #00000070;
}

.follow_item:hover {
    background: #9a9ca0;
    color: white;
}

.btn i {
    line-height: 50px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: #3a3a3a;
}

.btn i:hover {
    color: aliceblue;
}

.develop_block {
    text-align: center;
}

.develop_block h2 {
    margin: 0;
    margin-top: 30px;
    color: #3a3a3a;
    font-size: 20px;
}

.develop_block h2 a {
    text-decoration: none;
    color: #9ea075;
}

}

@media only screen and (min-width: 768px) and (max-width: 1200px)  {

    .footer_content {
     
        height: 100%;
        width: 80%;
    }

    .follow_item {
       
        height: 40px;
        width: 40px;
       
    }

    .btn i {
        line-height: 40px;
        height: 40px;
        width: 40px;
        font-size: 17px;
    }


    .develop_block h2 {
        font-size: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width: 922px)  {

    .footer_content {
      width: 90%;
     }

    .left_content_footer {
        width: 30%;
   }

    .logo_footer {
        height: 40px;
    }

    .app_name {
        font-size: 13px;
        position: absolute;
        left: 9%;
    }

    .discription_footer {
      
        font-size: 90%;
    }
    
    .right_content_footer {
      
        width: 65%;
    }    
}

@media only screen and (max-width: 768px) {

    footer {
        
        height: 730px;
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 300px;  
    }
    
    .footer_content {
        
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .left_content_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo_footer {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .logo_img {
        height: 30px;
        width: 30px;
        color: #1a1c1b;
        background: #1a1c1b;
    }
    
    .app_name {
        color: #3a3a3a;
        margin: 0;
        font-size: 90%;
    }
    
    .about_container {
        height: 250px;
    }
    
    .about_name_footer {
        
        color: #3a3a3a;
        font-size: 120%;
        text-align: center;
    }
    
    .discription_footer {
        color: #8e918f;
        font-size: 100%;
    }
    
    .right_content_footer {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .contacts_container {
        
        height: 250px;
        width: 50%;
    }
    
    .contact_name_footer {
        
        width: 70%;
        color: #3a3a3a;
        font-size: 17px;
        margin: 0 auto;
        text-align: center;
    }
    
    .contacts_container p {
        color: #8e918f;
        font-size: 15px ;
    }
    
    .contacts_container strong {
        color: #3a3a3a;
        font-size: 100% ;
    }
    
    .follow_container {
       
        height: 250px;
        width: 70%;
    }
    
    .follow_us {
         text-align: center;
    }
    
    .follow_heading {
        font-size: 120%;
        color: #1a1c1b;
    }
    
    .follow_items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .follow_item {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: #f2f4f7;
        text-align: center;
        box-shadow: 0 5px 15px -5px #00000070;
    }
    
    .follow_item:hover {
        background: #9a9ca0;
        color: white;
    }
    
    .btn i {
        line-height: 50px;
        height: 50px;
        width: 50px;
        font-size: 20px;
        color: #3a3a3a;
    }
    
    .btn i:hover {
        color: aliceblue;
    }
    
    .develop_block {
        text-align: center;
    }
    
    .develop_block h2 {
        margin: 0;
        margin-top: 30px;
        color: #3a3a3a;
        font-size: 20px;
    }
    
    .develop_block h2 a {
        text-decoration: none;
        color: #9ea075;
    }
}


@media only screen and (max-width: 365px) {




}
