@media only screen and (max-width: 768px) {

    footer {
        
        height: 730px;
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 300px;  
    }
    
    .footer_content {
        
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .left_content_footer {
        
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo_footer {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .logo_img {
        height: 30px;
        width: 30px;
        color: #1a1c1b;
        background: #1a1c1b;
    }
    
    .app_name {
        color: #3a3a3a;
        margin: 0;
        font-size: 90%;
    }
    
    .about_container {
        height: 250px;
    }
    
    .about_name_footer {
        color: #3a3a3a;
        font-size: 120%;
        text-align: center;
    }
    
    .discription_footer {
        color: #8e918f;
        font-size: 100%;
    }
    
    .right_content_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .contacts_container {
        height: 270px;
        width: 70%;
        text-align: center;
    }
    
    .contact_name_footer {
        width: 70%;
        color: #3a3a3a;
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }
    
    .contacts_container p {
        color: #8e918f;
        font-size: 20px ;
    }
    
    .contacts_container strong {
        color: #3a3a3a;
        font-size: 100% ;
    }
    
    .follow_container {
        height: 250px;
        width: 80%;
    }

    .follow_block {
        width: 100%;
    }
    
    .follow_us {
         text-align: center;
    }
    
    .follow_heading {
        font-size: 25px;
        color: #3a3a3a  ;
    }
    
    .follow_items {
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .follow_item {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        background: #f2f4f7;
        text-align: center;
        box-shadow: 0 5px 15px -5px #00000070;
    }
    
    .follow_item:hover {
        background: #9a9ca0;
        color: white;
    }
    
    .btn i {
        line-height: 55px;
        height: 55px;
        width: 55px;
        font-size: 20px;
        color: #3a3a3a;
    }
    
    .btn i:hover {
        color: aliceblue;
    }
    
    .develop_block {
        text-align: center;
        width: 100%;
    }
    
    .develop_block h2 {
        margin: 0;
        margin-top: 30px;
        color: #3a3a3a;
        font-size: 25px;
    }
    
    .develop_block h2 a {
        text-decoration: none;
        color: #9ea075;
    }
}


@media only screen and (max-width: 365px) {

    .about_name_footer {
        font-size: 17px;
    }

    .contacts_container {
        height: 180px;
        width: 85%;
    }

    .contact_name_footer {
        font-size: 17px;
    }

    .contacts_container p {
        font-size: 17px;
    }

    .follow_container {
        height: 200px;
        width: 95%;
    }

   .follow_heading {
        font-size: 17px;
    }

   .follow_item {
        height: 45px;
        width: 45px;
    }

   .btn i {
        line-height: 45px;
        height: 45px;
        width: 45px;
    }

    .develop_block h2 {
        font-size: 17px;
    }
}
