.item a {
    font-size: 100%;
}


@media all and (max-width: 1920px) {
    #header {
        position: relative;
    }
    .wrap-header {
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .navigation-tab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo h3 {
        font-size: 17px;
        color: #22b0b8;
    }
    .menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item {
        list-style: none;
    }
    .item:nth-child(1) {
        margin-right: 30px;
    }
    .item a {
        text-decoration: none;
        color: white;
        font-size: 80%;
        text-transform: uppercase;
        border: 1px solid #7bcbc8;
    }
    .item .active {
        border: 1px solid #22b0b8;
        color: #22b0b8;
        border-radius: 100px;
    }
    .item .active:hover {
        border: 1px solid #22b0b8;
        background: #22b0b8;
        border-radius: 100px;
        color: white;
    }
    .item a:hover {
        border: 1px solid white;
        border-radius: 100px;
    }
    .wrap-main-content {
        display: flex;
        flex-direction: row;
    }
    .info-header {
        color: #3a3a3a;
        margin-left: 10%;
    }
    .subtitle {
        font-size: 20px;
    }
    .button-wrap {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10%;
    }
    .image-header {
        background: #7bcbc8;
        border-bottom-left-radius: 0px;
    }
}

@media all and (max-width: 1366px) {
    .item .active {
        border: 1px solid white;
        color: white;
        border-radius: 100px;
    }
    .item .active:hover {
        border: 1px solid white;
        background: white;
        border-radius: 100px;
        color: #7bcbc8;
    }
    .item:nth-child(1) {
        margin-right: 0px;
    }
}

@media all and (max-width: 1024px) {
    .item a {
        font-size: 75%;
    }
}

@media all and (max-width: 980px) {
    .item a {
        font-size: 70%;
    }
    .wrap-main-content {
        align-items: center;
    }
    .title {
        font-size: 22px;
    }
    .subtitle {
        font-size: 18px;
    }
}

@media all and (max-width: 880px) {
    .item a {
        font-size: 61%;
    }
}

@media all and (max-width: 768px) {
    .wrap-header {
        justify-content: space-around;
    }
    .navigation-tab {
        flex-direction: column;
        align-items: center;
    }
    .logo h3 {
        color: white;
        font-size: 23px;
    }
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .item a {
        font-size: 19px;
    }
    .wrap-main-content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .info-header {
        color: white;
        text-align: center;
    }
    .button-wrap {
        margin: 0 auto;
    }
}