
#alphabet-section {
    display: flex;
    justify-content: flex-end;
    font-size: calc(5px + 2vmin);
    position: relative;
}

.container-text-alphabet {
    color: #3a3a3a;
    margin-top: 100px;
}

.discription-alphabet {
    color: #727984;
}

.wrap-screen-alphabet {
    margin-right: 170px; 
}

.alphabet-pictures {
    height: 650px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.30;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1366px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 980px) {

    #alphabet-section {
        justify-content: center;
    }
    
    .alphabet-pictures {
        display: none;
    }

    .wrap-screen-alphabet {
         margin-right: 0px; 
    }
}

@media all and (max-width: 768px) {

    #alphabet-section {
        flex-direction: column;
    }

    .discription-alphabet {
        margin: 0 auto;
    }

    .screen {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 480px) {
    
}
