
#alphabet-section {
    display: flex;
    justify-content: flex-end;
    font-size: calc(5px + 2vmin);
}

.container-text-alphabet {
    border: red solid;
    color: #3a3a3a;
    margin-top: 180px;
}

.discription-alphabet {
    color: #727984;
}

.wrap-screen-alphabet {
    border: green solid;
}

.alphabet-pictures {
    display: none;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1366px) {
    
}

@media all and (max-width: 1280px) {
    
    .container-text-alphabet {
        margin-top: 100px;
    }
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 980px) {
    
}

@media all and (max-width: 768px) {

    #alphabet-section {
        flex-direction: column;
    }

    .discription-alphabet {
        margin: 0 auto;
    }

    .screen {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 480px) {
    
}
