#alphabet-section {
  
    height: auto;
    width: 100%;
    padding: 50px 0px;
}

.container-text-alphabet {
    max-width: 550px;
}

.discription-alphabet {
    max-width: 450px;
}

.alphabet-pictures {
    height: 550px;
    display: none;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1500px) {
    .alphabet-pictures {
        height: 500px;
    }
}

@media all and (max-width: 1366px) {
 
}

@media all and (max-width: 1280px) {
    
    .alphabet-pictures {
        height: 400px;
    }
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 980px) {
    
}

@media all and (max-width: 768px) {

    .container-text-alphabet {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    
}
