@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

* {
  transition: 0.1s;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: white;
  color: #8e918f;
  font-family: 'Open Sans', sans-serif;
}

