* {
    transition: all .2s;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
}

p {
    color: black;
    font-size: 20px;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

h1 {
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: white;
    font-size: 52px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}
